{% extends 'panel.html.twig' %}

{% block content %}
    <form class="justify-content-center" method="post">
        <label for="userData[name]">Имя пользователя</label>
        <input type="text" name="credentials[name]" value="{{ credentials['name'] }}" placeholder="Имя пользователя" class="form-control">
        <label for="userData[password]">Пароль</label>
        <input type="text" name="credentials[password]" value="{{ credentials['password'] }}" placeholder="Пароль" class="form-control">
        <button type="submit" class="btn btn-lg btn-primary text-uppercase">Войти</button>
    </form>

{% endblock %}