{% extends 'layout.html.twig' %}

{% block panel %}
<header class="flex-shrink-0">
    <nav class="navbar">
        <div class="mr-auto d-flex">
            <a class="nav-link" href="{{ host }}">Список задач</a>
            <a class="nav-link" href="{{ createAddress }}">Новая задача</a>
        </div>
        <div class="ml-auto d-flex">
            <a class="nav-link ml-auto" href="{{ loginAddress }}">Вход</a>
            {% if showRegisterAddress %}
                <a class="nav-link" href="{{ registerAddress }}">Регистрация</a>
            {% endif %}
        </div>
    </nav>
</header>
{% endblock %}