{% extends 'panel.html.twig' %}

{% block content %}
<main class="flex-grow-1">
    <div class="container-lg">
        <table>
            <thead>
                <tr>
                    <th>Пользователь</th>
                    <th>email</th>
                    <th>Выполнена</th>
                    <th>Отредактирована администратором</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task['userName'] }}</td>
                    <td>{{ task['userEmail'] }}</td>
                    <td><input type="checkbox" class="form-input" {% if not isAdmin %}readonly{% endif%} {% if task['isDone'] %}checked{% endif %}}></td>
                    <td><input type="checkbox" class="form-input" {% if not isAdmin %}readonly{% endif%} {% if task['isEditsByAdmin'] %}checked{% endif %}}></td>
                </tr>
                <tr>
                    <td colspan="5">
                        {{ task['description'] }}
                    </td>        
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}