{% extends 'panel.html.twig' %}

{% block content %}
<main class="flex-grow-1">
    <div class="container-lg">
        <table>
            <thead>
                <tr>
                    <th>Заголовок</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Строка</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
{% endblock %}